<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue入门</title>
    <script src="../libs/js/vue.js"></script>
    <style>
        li {
            list-style: none;
        }
        
        .nav {
            display: flex;
        }
        
        .nav li {
            width: 60px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid;
        }
        
        .nav li.active {
            background: #6ff;
        }
    </style>
</head>

<body>
    <div id="app">
        <h2>{{message}}</h2>
        <ul class="nav">
            <li :class="{active:activeId==1}" @click="activeId=1">1</li>
            <li :class="{active:activeId==2}" @click="activeId=2">2</li>
            <li :class="{active:activeId==3}" @click="activeId=3">3</li>
            <li :class="{active:activeId==4}" @click="activeId=4">4</li>
        </ul>
        <ul>
            <template v-for="(goods,index) in todoList">
                <li v-if="activeId==(index+1)">
                    <p>goodsid:{{goods.id}}</p>
                    <p>goodsname:{{goods.name}}</p>
                    <p>goodsprice:{{goods.price}}</p>
                    <p>goodsnum:{{goods.num}}</p>
                </li>
            </template>
        </ul>
        <!-- 
            Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染。这么做除了使 Vue 变得非常快之外，还有其它一些好处。例如，如果你允许用户在不同的登录方式之间切换：那么在下面的代码中切换 loginType 将不会清除用户已经输入的内容。因为两个模板使用了相同的元素，<input> 不会被替换掉——仅仅是替换了它的 placeholder。
         -->
        <template v-if="loginType==='username'">
            <label>用户名</label>
            <input type="text" placeholder="login by username">
        </template>
        <template v-else>
            <label>手&emsp;机</label>
            <input type="text" placeholder="login by phone">
        </template>
        <button @click="toggleLoginType">toggle login type</button>

        <!-- <template v-if="loginType==='username'">
            <p>
                <label>用户名</label>
                <input type="text" placeholder="login by username">
            </p>
        </template>
        <template v-else>
            <p>
                <label>手&emsp;机</label>
                <input type="text" placeholder="login by phone">
            </p>
        </template>
        <button @click="toggleLoginType">toggle login type</button> -->

        <!-- 这样也不总是符合实际需求，所以 Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。只需添加一个具有唯一值的 key 属性即可： -->

        <!-- <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
        <button @click="toggleLoginType">toggle login type</button> -->
    </div>
</body>
<script>
    // 在 < template > 元素上使用 v -if 条件渲染分组
    // 因为 v -if 是一个指令，所以必须将它添加到一个元素上。但是如果想切换多个元素呢？此时可以把一个 < template > 元素当做不可见的包裹元素，并在上面使用 v -if。最终的渲染结果将不包含 < template > 元素。
    //     <template v-if="ok">
    //         <h1>Title</h1>
    //         <p>Paragraph 1</p>
    //         <p>Paragraph 2</p>
    //     </template>



    var vm = new Vue({
        el: "#app", //页面真实的dom对象
        data: { //存储数据的 model 被 dom使用对象
            message: "hello vue",
            loginType: "username",
            isShow: true,
            activeId: 1,
            todoList: [{
                id: 1,
                name: "饼干",
                price: 5,
                num: 20
            }, {
                id: 2,
                name: "面包",
                price: 10,
                num: 20
            }, {
                id: 3,
                name: "牛奶",
                price: 7,
                num: 20
            }, {
                id: 4,
                name: "矿泉水",
                price: 2,
                num: 20
            }]
        },
        methods: { //vue 所有方法绑定到methods中
            clickMe() {
                console.log("我被点击了！")
            },
            toggleLoginType() {
                this.loginType = this.loginType === "username" ? "email" : "username";
            }
        }
    })
</script>

</html>